html {
    background-image: url(waves.jpeg);
    padding: 20%;
    padding-top: 5%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
}

h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
}
form {
    background-color: rgba(32, 62, 106, 0.469);
    padding: 20px;
    border-style: double;
}

form:hover {
        backdrop-filter: blur(20px);

}

#submit{
    background-color: whitesmoke;
    color: rgba(32, 62, 106, 1);
    font-size: large;
    border-color:whitesmoke;

}